Backend/target/
Backend/.classpath
Backend/.settings/
Backend/.project
.metadata/
Backend/.idea
Backend/.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

Frontend/node_modules/
node_modules
.vscode
logs/
Frontend/package-lock.json

Backend/src/main/resources/dalbites-4237e-firebase-adminsdk-35gtm-5fb454d097.json